@model IEnumerable<Omni.Agence.DAL.Syndic>

@{
    ViewBag.Title = "Index";
    ViewBag.PD = "start active open";
    ViewBag.PDS = "active";
    ViewBag.PDCS = "selected";
}

<h3 class="page-title">
    Syndic <small>Liste</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">Accueil</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-user"></i>
            <a href="@Url.Action("Index")">Syndic</a>
            <i class="fa fa-angle-right"></i>
        </li>

    </ul>

</div>



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Tous les Syndics
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="btn-group">

                                <a href="@Url.Action("Create")" class="btn green">
                                    Ajouter <i class="fa fa-plus"></i>
                                </a>


                            </div>
                        </div>

                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th>
                                Nom Prénom
                            </th>
                            <th>
                                CIN
                            </th>
                            <th>
                                Salaire
                            </th>

                            <th>
                                Télephone
                            </th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomSynd) @Html.DisplayFor(modelItem => item.PrenomSynd)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CinSynd)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Salaire)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TelSynd)
                                </td>

                                <td>

                                    @Html.ActionLink("Details", "Details", new { id = item.CodeSynd }) |
                                    @Html.ActionLink("Supprimer", "Delete", new { id = item.CodeSynd })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>








