@model Omni.Agence.DAL.Local

@{
    ViewBag.Title = "DetailsLocal";
    ViewBag.PL1 = "start active open";
    ViewBag.PL2 = "active";
    ViewBag.PL3 = "selected";
}


<h3 class="page-title">
    Appartement <small>Détails</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">Accueil</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-user"></i>
            <a href="@Url.Action("Index")">Propriétaires</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Details", new { id = Model.CodePers })"> @Html.DisplayFor(model => model.Personne.nom) @Html.DisplayFor(model => model.Personne.prenom)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-building"></i>
            <a href="@Url.Action("CreateImmeublesProp", new { id = Model.CodePers })"> Immeubles</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("DetailsImmeuble", new {id=Model.CodeImmeuble })"> @Model.Immeuble.NomImmeuble</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("DetailsApp", new { id = Model.CodeLocal })"> @Model.TitreLocal</a>

        </li>
    </ul>

</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-grey-cascade"></i>
            <span class="caption-subject font-grey-cascade bold uppercase">Infos</span>
            <span class="caption-helper">Appartement</span>
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>

        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">

            <div class="form-body">
                
                <h3 class="form-section">Informations</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Nom:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.TitreLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Superficie:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.SuperficieLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Pièces:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.NbrPieceLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Chambres:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.NbrChambreLocal)
                                </p>
                            </div>
                        </div>

                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Prix:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.PrixRefLocationLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Service:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.ServiceLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Description:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.DescrLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Lotissement:</label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.MeubleLocal)
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    
                    <!--/span-->
                    <!--/span-->
                </div>


                </div>
                <!--/row-->

            
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="@Url.Action("DetailsImmeuble", new {id=Model.CodeImmeuble })" class="btn default">
                                    Retour
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </form>
        <!-- END FORM-->
    </div>



</div>