@model Omni.Agence.DAL.Depense

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Depense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDepense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDepense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Immeuble.NomImmeuble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Immeuble.NomImmeuble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local.TitreLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.TitreLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDesignationDepense.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDesignationDepense.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operation.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operation.Commentaire)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
