@model Omni.Agence.DAL.Personne

@{
    ViewBag.Title = "Delete";
    ViewBag.C = "start active open";
    ViewBag.CGL = "active";
    ViewBag.CC = "selected";
}



<h3 class="page-title">
    Locataires <small>Confirmation de suppression</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">Accueil</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="fa fa-user"></i>
            <a href="@Url.Action("Index")">Propriétaires</a>
            <i class="fa fa-angle-right"></i>
        </li>

    </ul>

</div>


<h3>Voulez vous vraiment supprimer @Html.DisplayFor(model => model.nom) @Html.DisplayFor(model => model.prenom) ?!</h3>
<div>
    <h4>@Html.DisplayFor(model => model.cin) @Html.DisplayFor(model => model.carteSejour) </h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-lg red" />

            <a href="@Url.Action("Index")" class="btn btn-lg default">
                Retour
            </a>
        </div>
    }
</div>
